@using NTCYApplication.Models.Club

@{
    ViewBag.Title="ViewAllUser";
    Layout="~/Views/Shared/_Layout.cshtml";
}
<div id="mySidenav" class="col-xs-4 col-sm-4 col-md-2 col-lg-2 sidenav">

    @Html.Partial("_left_admin_submenu")
</div>

<script>
    $(document).ready(function () {
        // $("#Status").val("@ViewData["Status"]");
        $('[data-toggle="tooltip"]').tooltip();
        $(document).tooltip({
            track: true
        });
    })
</script>

<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 main">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-title-outer">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 page-title">View All Users</div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 page-title-btn">

            <a href="@Url.Action("CreateUser", "UserMaster")" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Back">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 workarea-outer">
  

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scrolling-area" style="height: 476px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-title">Users</div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive  " style="height: 424px;overflow: auto;">

                @{
                    if (ViewData["UserList"]!=null)
                    {
                        if (ViewData.Values!=null&&ViewData.Values.Count()>0)
                        {
                            <table class="table blk-thm-table table-condensed" id="TblGridId">
                                <thead>
                                    <tr>
                                        <th>User Id</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>User Roles</th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @foreach (var Model in ViewBag.UserList as List<UserMaster>)
                                        {
                                        <tr>
                                            <td>@Model.UserId</td>
                                            <td>@Model.UserName</td>
                                            <td>@Model.Password</td>
                                            <td>@Model.UserRoles</td>
                                            <td>@Model.Status</td>
                                            <td>@Html.ActionLink(" ", "SelectUser", "UserMaster", new { UserId = Model.UserId }, new { @class = "btn-sm btn-primary glyphicon glyphicon-pencil", @title = "Edit", data_toggle = "tooltip", data_placement = "bottom" })</td>
                                            <td>@Html.ActionLink(" ", "DeleteUser", "UserMaster", new { UserId = Model.UserId }, new { @class = "btn-sm btn-primary glyphicon glyphicon-trash", @title = "Delete", data_toggle = "tooltip", data_placement = "bottom" })</td>
                                        </tr>
                                        }
                                        </tr>

                                    </tbody>

                                </table>
                        }
                        else
                        {
                            <table class="table blk-thm-table table-condensed" id="norecord">
                                <thead>
                                    <tr>
                                        <td style="font-size:18px;font-weight:bold; text-align:center;">No Records Found</td>
                                    </tr>
                                </thead>
                            </table>
                        }
                    }
                }

            </div>
        </div>
        <p>@ViewBag.message</p>
        <p>@ViewBag.innerEx</p>
    </div>
</div>