@using NTCY.Models.Table;
@{
    ViewBag.Title = "CreateCardTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-area">
        @ViewBag.message
        @ViewBag.innerEx
    </div>
    <div class="container-fluid">
        @using (Html.BeginForm("CreateCardTable", "CardTable", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">Card Table</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    @*<div class="col-sm-3">
                                <div class="form-group">
                                <label for="lTableNo">TableNo</label>
                                @Html.TextBox("TableNo", ViewData["TableNo"], new { @maxlength = "15", @class = "form-control", @id = "TableNo" })
                                </div>
                                </div>*@
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lTableName">TableName</label>
                                            @Html.TextBox("TableName", ViewData["TableName"], new { @maxlength = "12", @class="form-control", @id = "TableName" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lStatus">Status</label>
                                            @*@Html.TextBox("Status", ViewData["Status"], new { @maxlength = "12", @class="form-control", @id = "Status" })*@
                                            @Html.DropDownList("Status", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="Available", Value="Available"},
                                        new SelectListItem { Text="Not Available", Value="Not Available"}
                                        }, "Select", new { @class = "form-control", @id = "Status" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" value="@ViewBag.submit" class="btn btn-primary" id="Btn_Submit" data-toggle="tooltip" title="Save"><span class="fas fa-save"> </span></button>
                    <a href="@Url.Action("ViewCardTable", "CardTable")" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="View Member">
                        <span class="fa-solid fa-users" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        }
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>