@model NTCY.Models.LiquorDet;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">Liquor</h3>
                                @*@Html.Hidden("LiquorId", ViewData["LiquorId"], new { @maxlength = "15", @class = "form-control", @id = "LiquorId" })*@
                                @Html.HiddenFor(m=> m.LiquorId, new {Value = "", @class = "form-control", @id = "LiquorId" })
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lLiquorCatId">Category Name</label>
                                            @*@Html.DropDownListFor(m => m.LiquorCatId, new SelectList(Model.Categories,"Value","Text",ViewBag.LiquorCatId),"", new { @class = "form-control"} )*@
                                            @Html.DropDownListFor(model => model.LiquorCatId, new SelectList(Model.Categories, "LiquorCatId", "CategoryName"), "--Select Category--", new { id = "CategoryId", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lLiquorName">LiquorName</label>
                                            @*@Html.TextBox("LiquorName", ViewData["LiquorName"], new { @maxlength = "12", @class="form-control", @id = "LiquorName" })*@
                                            @Html.TextBoxFor(model=> model.LiquorName, new {Value = "", @class = "form-control", @id = "LiquorName"})
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lEffectiveDate">EffectiveDate</label>
                                            @*@Html.TextBox("EffectiveDate", ViewData["EffectiveDate"], new { @maxlength = "12", @class = "form-control", @type = "date", @id = "EffectiveDate" })*@
                                            @Html.TextBoxFor(model=> model.EffectiveDate, new {@maxlength = "12", @class = "form-control", @type = "date", @id = "EffectiveDate"})
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lSoldInPegs">SoldInPegs</label>
                                            @Html.DropDownListFor(model => model.SoldInPegs, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Yes", Value="True"},
                                                new SelectListItem { Text="No", Value="False"}
                                            },"Select", new { @class = "form-control", @id = "SoldInPegs"})
                                            @*@Html.DropDownListFor(model => model.SoldInPegs, new SelectList (new List<SelectListItem>{new SelectListItem { Text = "Yes", Value="True" } , new SelectListItem { Text = "No", Value="False"}},"Value","Text"), new {@class = "form-control"})*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lQuantityInMLBottle">QuantityInMLBottle</label>
                                            @*@Html.TextBox("QuantityInMLBottle", ViewData["QuantityInMLBottle"], new { @maxlength = "12", @class="form-control", @id = "QuantityInMLBottle" })*@
                                            @Html.TextBoxFor(model=> model.QuantityInMLBottle, new {Value = "", @class = "form-control", @id = "QuantityInMLBottle"})
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lPegsPerBottle">PegsPerBottle</label>
                                            @*@Html.TextBox("PegsPerBottle", ViewData["PegsPerBottle"], new { @maxlength = "15", @class = "form-control", @id = "PegsPerBottle" })*@
                                            @Html.TextBoxFor(model=> model.PegsPerBottle, new {Value = "", @class = "form-control", @id = "PegsPerBottle"})
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lSellingPriceBottle">SellingPriceBottle</label>
                                            @*@Html.TextBox("SellingPriceBottle", ViewData["SellingPriceBottle"], new { @maxlength = "12", @class="form-control", @id = "SellingPriceBottle" })*@
                                            @Html.TextBoxFor(model=> model.SellingPriceBottle, new {Value = "", @class = "form-control", @id = "SellingPriceBottle"})
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lSellingPricePeg">SellingPricePeg</label>
                                            @*@Html.TextBox("SellingPricePeg", ViewData["SellingPricePeg"], new { @maxlength = "12", @class="form-control", @id = "SellingPricePeg" })*@
                                            @Html.TextBoxFor(model=> model.SellingPricePeg, new {Value = "", @class = "form-control", @id = "SellingPricePeg"})
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lGST">GST</label>
                                            @*@Html.TextBox("GST", ViewData["GST"], new { @maxlength = "12", @class="form-control", @id = "GST" })*@
                                            @Html.TextBoxFor(model=> model.GST, new {Value = "", @class = "form-control", @id = "GST"})
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lStatus">Status</label>
                                            @*@Html.TextBox("Status", ViewData["Status"], new { @maxlength = "15", @class = "form-control", @id = "Status" })*@
                                            @*@Html.DropDownList("Status", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Available", Value="1"},
                                                new SelectListItem { Text="Not Available", Value="0"}
                                            }, "Select Status", new { @class = "form-control", @id = "Status" })*@
                                            @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Available", Value="True"},
                                                new SelectListItem { Text="Not Available", Value="False"}
                                            },"Select Status", new { @class = "form-control", @id = "Status"})
                                            @*@Html.DropDownList("AvailableStatus", null, htmlAttributes: new { @id = "Status", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" value="@ViewBag.submit" class="btn btn-primary1" id="Btn_Submit" data-toggle="tooltip" title="Save"><span class="fas fa-save"> </span></button>
                    <a href="@Url.Action("ViewLiquor", "LiquorDetail")" class="btn btn-primary1" data-toggle="tooltip" data-placement="bottom" title="View Member">
                        <span class="fa-solid fa-users" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        }
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>