@{
    ViewBag.Title="CreateEmployee";
    Layout="~/Views/Shared/_Layout.cshtml";
}


<script>
  
        @*$("#Status").val("@ViewData["Status"]");
        $("#Gender").val("@ViewData["Gender"]");*@
        $(function () {
            $('#JoiningDate').datetimepicker({
                format: 'DD/MM/YYYY',
                ignoreReadonly: true
            });
            $('#LeavingDate').datetimepicker({
                format: 'DD/MM/YYYY',
                ignoreReadonly: true
            });
            $('#DOB').datetimepicker({
                format: 'DD/MM/YYYY',
                ignoreReadonly: true
            });

        });

  
</script>
<div id="mySidenav" class="col-xs-4 col-sm-4 col-md-2 col-lg-2 sidenav">

    @Html.Partial("_left_admin_submenu")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#DOB").val("@ViewData["DOB"]");
        $("#JoiningDate").val("@ViewData["JoiningDate"]")
        $("#LeavingDate").val("@ViewData["LeavingDate"]")
        $("#Status").val("@ViewData["Status"]");
        $("#Gender").val("@ViewData["Gender"]");


    });
</script>

@*<script>
    $(document).ready(function () {
        // $("#Status").val("@ViewData["Status"]");
        $('[data-toggle="tooltip"]').tooltip();
        $(document).tooltip({
            track: true
        });
    })
</script>*@

<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 main"><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-title-outer">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 page-title">Employees</div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 page-title-btn">

        <a href="@Url.Action("ViewAllEmployees", "Employee")" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="View All">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </a>
    </div>
</div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 workarea-outer">



        @using (Html.BeginForm("CreateEmployee", "Employee", new { @class = "beginform-outer" }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scrolling-area">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-outer">
                    @Html.Hidden("EmployeeId", ViewData["EmployeeId"], new { @id = "EmployeeId" })
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-right">
                        Employee Id
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 textbox-area">
                       
                        @Html.TextBox("Empid", ViewData["Empid"], new { @maxlength = "6", @class = "blckthm-form-control", @id = "Empid" })
                    </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-right">
                            Employee Name
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 textbox-area">
                            @Html.TextBox("EmployeeName", ViewData["EmployeeName"], new { @maxlength = "20", @class = "blckthm-form-control", @id = "EmployeeName", @autocomplete = "off" })
                            <span id="errmsgEmployeeName"></span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-right">
                            Employee Category
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 textbox-area">
                            @Html.TextBox("EmployeeCategory", ViewData["EmployeeCategory"], new { @maxlength = "20", @class = "blckthm-form-control", @id = "EmployeeCategory", @autocomplete = "off" })
                            <span id="errmsgEmployeeCategory"></span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-right">
                            Gender
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 textbox-area">
                            @Html.DropDownList("Gender", new List<SelectListItem> {
                        new SelectListItem { Text="Male", Value="Male"},
                        new SelectListItem { Text="Female", Value="Female"},
                        new SelectListItem { Text="Transgender", Value="Transgender"}
                        }, "Select Status", new { @class = "blckthm-form-control", @id = "Gender" })

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-right">
                            DOB
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 textbox-area">
                            @Html.TextBox("DOB", ViewData["DOB"], new { @readonly = "readonly", @class = "blckthm-form-control", @id = "DOB", @autocomplete = "off" })

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-right">
                            Mobile No
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 textbox-area">
                            @Html.TextBox("PhoneNo", ViewData["PhoneNo"], new { @maxlength = "12", @class = "blckthm-form-control", @id = "PhoneNo", @autocomplete = "off" })
                            <span id="errmsgPhoneNo"></span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-right">
                            Email ID
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 textbox-area">
                            @Html.TextBox("EmailId", ViewData["EmailId"], new { @type = "email", @maxlength = "20", @class = "blckthm-form-control", @id = "EmailId", @autocomplete = "off" })

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-right">
                            Address
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 textbox-area">
                            @Html.TextArea("Address", new { @maxlength = "50", @class = "blckthm-form-control", @id = "Address" })

                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-right">
                            Joining Date
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 textbox-area">
                            @Html.TextBox("JoiningDate", ViewData["JoiningDate"], new { @readonly = "readonly", @class = "blckthm-form-control", @id = "JoiningDate", @autocomplete = "off" })

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-right">
                            Leaving Date
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 textbox-area">
                            @Html.TextBox("LeavingDate", ViewData["LeavingDate"], new { @*@readonly = "readonly",*@ @class = "blckthm-form-control", @id = "LeavingDate", @autocomplete = "off" })

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-right">
                            Status
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 textbox-area">
                            @Html.DropDownList("Status", new List<SelectListItem> {
                        new SelectListItem { Text="Current Employee", Value="CurrentEmployee"},
                        new SelectListItem { Text="Ex-Employee", Value="Ex-Employee"}
                        }, "Select Status", new { @class = "blckthm-form-control", @id = "Status" })
                        </div>

                    </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-outer">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 action-outer">
                @*@Html.ActionLink("Submit", "Club_master", "Admin", null, new { @class = "btn btn-primary  " })*@
                @*<input type="submit" value="@ViewBag.submit" class="btn btn-primary" id="Btn_Submit" />*@
                <button type="submit" value="@ViewBag.submit" class="btn btn-primary" id="Btn_Submit" title="Save" data-toggle="tooltip">
                    <span class="glyphicon glyphicon-floppy-save"> </span>
                </button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-area">
                <p id="viewbagMsg">@ViewBag.message</p>
                <p>@ViewBag.innerEx</p>

            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#viewbagMsg").fadeOut(7000);
        //email id text box will not allow white spaces


        //$("#Empid").keypress(function (e) {
        //    if (e.which <= 47 || e.which >= 58) {
        //        return false;
        //    }
        //})



        $("#EmailId").keypress(function (e) {
            if (e.which == 32) {
                return false;
            }
        })
       
        $("#EmployeeName").keypress(function (e) {
            if ((e.which >= 33 && e.which <= 64) || (e.which >= 91 && e.which <= 96) ||
                e.which >= 123 && e.which <= 126) {
                $('#errmsgEmployeeName').css('color', 'red');
                $("#errmsgEmployeeName").html("Enter Letters A-Z,a-Z only").show().fadeOut("slow");
                return false;
            }
        })
        $("#PhoneNo").keypress(function (e) {
            if ((e.which >= 58 && e.which <= 126) || (e.which >= 33 && e.which <= 42) ||
                (e.which >= 44 && e.which <= 47)) {
                $('#errmsgPhoneNo').css('color', 'red');
                $("#errmsgPhoneNo").html("Enter Digits 0-9").show().fadeOut("slow");
                return false;
            }
        })
        $("#EmployeeCategory").keypress(function (e) {
            if (!(e.which >= 48 && e.which <= 57) && !(e.which >= 65 && e.which <= 90) && !(e.which >= 97 && e.which <= 122)) {
                $('#errmsgEmployeeCategory').css('color', 'red');
                $("#errmsgEmployeeCategory").html("Invalid Input").show().fadeOut("slow");
                return false;
            }
        })

       

        //Required Field Validation
        $('#Btn_Submit').click(function () {
            if ($('#EmployeeName').val() == '' || $('#EmployeeName').val() == "") {
                alert('EmployeeName field is required !!!');
                $('#EmployeeName').focus();
                return false;
            }

            else if ($('#EmployeeCategory').val() == '' || $('#EmployeeCategory').val() == "") {
                alert('EmployeeCategory is Required!!!')
                $('#EmployeeCategory').focus();
                return false;
            }
            else if ($('#Gender').val() == '' || $('#Gender').val() == "") {
                alert('Please select Gender!!!')
                $('#Gender').focus();
                return false;
            }
            else if ($('#DOB').val() == '' || $('#DOB').val() == "") {
                alert('Please select DOB!!!')
                $('#DOB').focus();
                return false;
            }

            else if ($('#Age').val() == '' || $('#Age').val() == "" || $('#Age').val() <= "17") {
                alert('Enter Valid Age!!!')
                $('#Age').focus();
                return false;
            }
            else if ($('#PhoneNo').val() == '' || $('#PhoneNo').val() == "") {
                alert('Mobile Number is Required!!!')
                $('#PhoneNo').focus();
                return false;
            }
            else if ($('#EmailId').val() == '' || $('#EmailId').val() == "") {
                alert('EmailId is Required!!!')
                $('#EmailId').focus();
                return false;
            }
            else if ($('#Address').val() == '' || $('#Address').val() == "") {
                alert('Address is Required!!!')
                $('#Address').focus();
                return false;
            }
           else if ($('#JoiningDate').val() == '' || $('#JoiningDate').val() == "") {
                alert('Joining Date is Required!!!')
                $('#JoiningDate').focus();
                return false;
            }
            else if ($('#Status').val() == '' || $('#Status').val() == "") {
                alert('please select status!!!')
                $('#Status').focus();
                return false;
            }
            else if ($('#Empid').val() == '' || $('#Empid').val() == "") {
                alert('please select EmployeeId!!!')
                $('#Empid').focus();
                return false;
            }
            else { return true; }
        })

    });
</script>
