@model NTCY.Models.StockDetails.StockInwardCommon;
@{
    ViewBag.Title = "Add Stock Inward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/plugins/jquery/jquery.min.js"></script>

<script>
    function selectRow(elm) {
        //alert(elm);
        $("#Table1 tr").removeClass('sel');
        $(elm).closest("tr").addClass('sel');
    }

    function populatetable(Id) {
        if ($('.sel #LiquorId')) {
            $('.sel #LiquorId').val(Id);
        }
    }
    $(document).ready(function () {
        $("#GrnNo").val("@ViewBag.finalGrnNo");
        

        $("#TableSelect").hide();
        $(function () {
            $("#GrnDate").datetimepicker({
                format: 'DD/MM/YYYY',
                ignoreReadonly: true
            });
            $("#GrnDate").datetimepicker();

            $("#Deliverydate").datetimepicker({
                format: 'DD/MM/YYYY',
                ignoreReadonly: true
            });
            $("#Deliverydate").datetimepicker();

            $("#PurchaseOrderDate").datetimepicker({
                format: 'DD/MM/YYYY',
                ignoreReadonly: true
            });
            $("#PurchaseOrderDate").datetimepicker();

            $("#GrnDate").val("@ViewBag.GrnDate");
            $("#Deliverydate").val("@ViewBag.Deliverydate");
            $("#PurchaseOrderDate").val("@ViewBag.PurchaseOrderDate");
            $("#Supplier").val("Supplier101");
            $("#PermitNo").val("1234567890");
            $("#DeliveryChallanNo").val("1234567890");
            $("#PurchaseOrderNo").val("1234567890");
        });

        $(function () {
            $("#Btn_Select").click(function () {
                $("#Table1").show();
                //debugger;
                var markup = '<tr><td>@Html.TextBox("Item Name", ViewData["ItemName"], new { @maxlength = "20", style = "width:150px", placeholder ="search",@class = "form-control right-inner-addon", @id = "ItemName", @autocomplete = "off",@onclick = "selectRow(this);" })</td>'
                    + '<td>@Html.TextBox("PurchaseOrder Rate", ViewData["PurchaseOrderRate"], new { @maxlength = "10", style = "width:50px", @class = "form-control", @id = "PurchaseOrderRate", @autocomplete = "off", @onclick = "selectRow(this);" })</td>'
                    + '<td>@Html.TextBox("PurchaseOrder Qty", ViewData["PurchaseOrderQty"], new { @maxlength = "5", style = "width:50px", @class = "form-control", @id = "PurchaseOrderQty", @autocomplete = "off", @onclick = "selectRow(this);" })</td>'
                    + '<td>@Html.TextBox("Rejected Qty", ViewData["RejectedQty"], new { @maxlength = "5", style = "width:60px", @class = "form-control", @id = "RejectedQty", @autocomplete = "off", @onclick = "selectRow(this);" })</td>'
                    + '<td>@Html.TextBox("Discount Percentage", ViewData["DiscountPercentage"], new { @maxlength = "5", style = "width:60px", @class = "form-control", @id = "DiscountPercentage", @autocomplete = "off", @onclick = "selectRow(this);" })</td>'
                    + '<td>@Html.TextBox("Discount Amount", ViewData["DiscountAmount"], new { @maxlength = "8", style = "width:160px", @class = "form-control", @id = "DiscountAmount", @autocomplete = "off", @onclick = "selectRow(this);" })</td>'
                    + '<td>@Html.TextBox("Tax Percentage", ViewData["TaxPercentage"], new { @maxlength = "5", style = "width:60px", @class = "form-control", @id = "TaxPercentage", @autocomplete = "off", @onclick = "selectRow(this);" })</td>'
                    + '<td>@Html.TextBox("Tax Amount", ViewData["TaxAmount"], new { @maxlength = "8", style = "width:160px", @class = "form-control", @id = "TaxAmount", @autocomplete = "off", @onclick = "selectRow(this);" })</td>'
                    + '<td>@Html.TextBox("MRP", ViewData["MRP"], new { @maxlength = "10", style = "width:160px", @class = "form-control", @id = "MRP", @autocomplete = "off", @onclick = "selectRow(this);" })</td>'
                    + '<td>@Html.TextBox("Rejected Remarks", ViewData["RejectedRemarks"], new { @maxlength = "150", @class = "form-control", @id = "RejectedRemarks", @autocomplete = "off", @onclick = "selectRow(this);" })</td>'
                    + '<td style="display:none">@Html.TextBox("LiquorId", ViewData["LiquorId"], new { @class = "form-control glyphicon", @id = "LiquorId", @onclick = "selectRow(this);" })</td>'
                   //+ '<td><button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal" data-backdrop="static" onclick = "selectRow(this);">Edit</button></td>'
                    + '<td><button value="Cancel" id="Btn_Cancel" data-toggle="tooltip" data-placement="bottom" title="Cancel Item" class="btn-xs btn-danger"><span class="fas fa-remove"></span></button></td>'
                "</tr>"
                //       $('#PurchaseOrderRate').val() + "</td><td>" + $('#PurchaseOrderQty').val() + "</td><td>" + $('#MRP').val() + "</td><td>" +
                //   $('#SupplierName').val() + "</td><td>" + $('#TaxAmount').val() + "</td><td>" + $('#TaxPercentage').val() + "</td><td>" + $('#DiscountAmount').val() + "</td><td>" + $('#DiscountPercentage').val() +
                //"</td><td>" + $('#RejectedQty').val() + "</td><td>" + $('#AcceptedQty').val() + "</td></tr>";
                $("#Table1 tbody").append(markup);
            });
        });

        $("#Table1").on('click', '#Btn_Cancel', function () {

            $(this).closest("tr").detach();

        });



    });
</script>

<script>
    $(document).ready(function () {
        $('#Table1').on('keydown.autocomplete', '#ItemName', function () {
            $(this).autocomplete({
                source: function (request, response) {
                    //debugger;
                    $.ajax({
                        url: "@Url.Content("~/StockAdjustment/GetLiquors")",
                        type: "POST",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                //debugger;
                                return { value: item.liquorName, Id: item.liquorId };
                            }))
                        }
                    })
                },
                select: function (event, ui) {
                    var Id = ui.item.Id;
                    populatetable(Id);
                    }
            });
        })
    });

</script>

<section class="content">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-area">
        @ViewBag.message
        @ViewBag.innerEx
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="card-header">
                    <h3 class="card-title">Stock Inward</h3>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("AddStockInward", "StockInwardDetails", FormMethod.Post))
        {
            <div class="row">
                <div class="card card-success">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lGrnNo">GrnNo</label>
                                    @Html.TextBox("GrnNo", "", new { @maxlength = "20", @class = "form-control", @id = "GrnNo", @autocomplete = "off", @readonly = "readonly" })
                                    @Html.Hidden("Remarks", "NA", new { @maxlength = "20", @class = "form-control", @id = "Remarks", @autocomplete = "off", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lGrnDate">GrnDate</label>
                                    @Html.TextBox("GrnDate", ViewData["GrnDate"], new {  @class = "form-control", @type = "date", @id = "GrnDate", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lSupplier">Supplier</label>
                                    @Html.TextBox("Supplier", ViewData["Supplier"], new { @maxlength = "20", @class = "form-control", @id = "Supplier", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lPermitNo">PermitNo</label>
                                    @Html.TextBox("PermitNo", ViewData["PermitNo"], new { @maxlength = "20", @class = "form-control", @id = "PermitNo", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lDeliveryChallanNo">DeliveryChallanNo</label>
                                    @Html.TextBox("DeliveryChallanNo", ViewData["DeliveryChallanNo"], new {  @class = "form-control", @id = "DeliveryChallanNo", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lDeliverydate">Deliverydate</label>
                                    @Html.TextBox("Deliverydate", ViewData["Deliverydate"], new {  @class = "form-control", @type = "date", @id = "Deliverydate", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lPurchaseOrderNo">PurchaseOrderNo</label>
                                    @Html.TextBox("PurchaseOrderNo", ViewData["PurchaseOrderNo"], new { @maxlength = "20", @class = "form-control", @id = "PurchaseOrderNo", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lPurchaseOrderDate">PurchaseOrderDate</label>
                                    @Html.TextBox("PurchaseOrderDate", ViewData["PurchaseOrderDate"], new {  @class = "form-control", @type = "date", @id = "PurchaseOrderDate", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Stock Entry</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <table id="Table1" class="table table-bordered table-striped table-sm" cellspacing="0" width="100%" >
                                <thead>
                                    <tr>
                                        <th>Liquor Name</th>
                                        <th>PO Rate</th>
                                        <th>PO Qty</th>
                                        <th>Rejected Qty</th>
                                        <th>Discount %</th>
                                        <th>Discount Amt</th>
                                        <th>Tax %</th>
                                        <th>Tax Amt</th>
                                        <th>MRP</th>
                                        <th>Rejected Remark</th>
                                        <th>
                                            <button class="btn btn-primary btn-sm" onclick="return false;" type="submit" value="Select" id="Btn_Select" data-toggle="tooltip" data-placement="bottom" title="Select">
                                                <span class="fas fa-plus"></span>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="sel">
                                        <td>@Html.TextBox("Item Name", ViewData["ItemName"], new { @maxlength = "20",style="width:150px", placeholder = "search", @class = "form-control", @id = "ItemName", @autocomplete = "off", @onclick = "selectRow(this);" })</td>
                                        <td>@Html.TextBox("PurchaseOrder Rate", ViewData["PurchaseOrderRate"], new { @maxlength = "10", style = "width:50px", @class = "form-control", @id = "PurchaseOrderRate", @autocomplete = "off", @onclick = "selectRow(this);" })</td>
                                        <td>@Html.TextBox("PurchaseOrder Qty", ViewData["PurchaseOrderQty"], new { @maxlength = "5", style = "width:50px", @class = "form-control", @id = "PurchaseOrderQty", @autocomplete = "off", @onclick = "selectRow(this);" })</td>
                                        <td>@Html.TextBox("Rejected Qty", ViewData["RejectedQty"], new { @maxlength = "5", style = "width:60px", @class = "form-control", @id = "RejectedQty", @autocomplete = "off", @onclick = "selectRow(this);" })</td>
                                        <td>@Html.TextBox("Discount Percentage", ViewData["DiscountPercentage"], new { @maxlength = "7", style = "width:60px", @class = "form-control", @id = "DiscountPercentage", @autocomplete = "off", @onclick = "selectRow(this);" })</td>
                                        <td>@Html.TextBox("Discount Amount", ViewData["DiscountAmount"], new { @maxlength = "8", style = "width:160px", @class = "form-control", @id = "DiscountAmount", @autocomplete = "off", @onclick = "selectRow(this);" })</td>
                                        <td>@Html.TextBox("Tax Percentage", ViewData["TaxPercentage"], new { @maxlength = "5", style = "width:60px", @class = "form-control", @id = "TaxPercentage", @autocomplete = "off", @onclick = "selectRow(this);" })</td>
                                        <td>@Html.TextBox("Tax Amount", ViewData["TaxAmount"], new { @maxlength = "8", style = "width:160px", @class = "form-control", @id = "TaxAmount", @autocomplete = "off", @onclick = "selectRow(this);" })</td>
                                        <td>@Html.TextBox("MRP", ViewData["MRP"], new { @maxlength = "10", style = "width:160px", @class = "form-control", @id = "MRP", @autocomplete = "off", @onclick = "selectRow(this);" })</td>
                                        <td>@Html.TextBox("Rejected Remarks", ViewData["RejectedRemarks"], new { @maxlength = "150", @class = "form-control", @id = "RejectedRemarks", @autocomplete = "off", @onclick = "selectRow(this);" })</td>
                                        <td style="display:none">@Html.TextBox("LiquorId", ViewData["LiquorId"], new { @class = "form-control glyphicon", @id = "LiquorId", @onclick = "selectRow(this);" })</td>
                                        <td><button value="Cancel" id="Btn_Cancel" data-toggle="tooltip" data-placement="bottom" title="Cancel Item" class="btn-xs btn-danger"><span class="fas fa-remove"></span></button></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <div class="card card-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lTotalAmount">TotalAmount</label>
                                    @Html.TextBox("TotalAmount", ViewData["TotalAmount"], new { @maxlength = "20", @class = "form-control", @id = "TotalAmount", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lTotalTax">TotalTax</label>
                                    @Html.TextBox("TotalTax", ViewData["TotalTax"], new { @maxlength = "20", @class = "form-control", @id = "TotalTax", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lTotalDiscount">TotalDiscount</label>
                                    @Html.TextBox("TotalDiscount", ViewData["TotalDiscount"], new { @maxlength = "20", @class = "form-control", @id = "TotalDiscount", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="lNetAmount">NetAmount</label>
                                    @Html.TextBox("NetAmount", ViewData["NetAmount"], new { @maxlength = "20", @class = "form-control", @id = "NetAmount", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" value="@ViewBag.submit" class="btn btn-primary1" id="Btn_Submit" data-toggle="tooltip" title="Save">
                        <span class="fas fa-save"> </span>
                    </button>
                </div>
            </div>
        }
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<script>

    $(document).ready(function () {

        $("#Table1").on('input', '#RejectedQty', function () {
            var cr = $(this).closest("tr");
            var temp = cr.find("#PurchaseOrderQty").val();
        
            var value = $(this).val();
            if ((value !== '') && (value.indexOf('.') === -1)) {
                $(this).val(Math.max(Math.min(value, temp), -temp));
            }
        });

        $("#DeliveryChallan").keypress(function (e) {
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                $('#errmsgDeliveryChallanNo').css('color', 'red');
                $("#errmsgDeliveryChallanNo").html("Numbers only").show().fadeOut("slow");
                return false;
            }
        })

        $("#PurchaseOrder").keypress(function (e) {
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                $('#errmsgPurchaseOrderno').css('color', 'red');
                $("#errmsgPurchaseOrderno").html("Numbers only").show().fadeOut("slow");
                return false;
            }
        })

        $("#TotalAmount").keypress(function (e) {
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                $('#errmsgTotalAmount').css('color', 'red');
                $("#errmsgTotalAmount").html("Numbers only").show().fadeOut("slow");
                return false;
            }
        })
        $("#NetAmount").keypress(function (e) {
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                $('#errmsgNetAmount').css('color', 'red');
                $("#errmsgNetAmount").html("Numbers only").show().fadeOut("slow");
                return false;
            }
        })

        $("#TotalDiscount").keypress(function (e) {
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                $('#errmsgTotalDiscount').css('color', 'red');
                $("#errmsgTotalDiscount").html("Numbers only").show().fadeOut("slow");
                return false;
            }
        })

        $("#TotalTax").keypress(function (e) {
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                $('#errmsgTotalTax').css('color', 'red');
                $("#errmsgTotalTax").html("Numbers only").show().fadeOut("slow");
                return false;
            }
        })


        $("#Table1").on("keypress", function (e) {

            $('.sel #PurchaseOrderRate').keypress(function (e) {
                if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            })

            $('.sel #PurchaseOrderQty').keypress(function (e) {
                if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                    $('#PurchaseOrderQty').addClass('errorClass');
                    return false;
                    $('#PurchaseOrderQty').addClass('errorClass');
                }
            })

            $('.sel #MRP').keypress(function (e) {
                if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            })

            $('.sel #TaxAmount').keypress(function (e) {
                if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            })


            $('.sel #TaxPercentage').keypress(function (e) {
                if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            })

            $('.sel #DiscountAmount').keypress(function (e) {
                if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            })

            $('.sel #DiscountPercentage').keypress(function (e) {
                if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            })

            $('.sel #RejectedQty').keypress(function (e) {
                if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                   return false;
                }
            })

        })

    });

    $('#Btn_Submit').click(function () {
        //debugger;
        if ($('#GrnDate').val() == '' || $('#GrnDate').val() == "") {
            alert('GrnDate field is required !!!');
            $('#GrnDate').focus();
            return false;
        }
        else if ($('#Supplier').val() == '' || $('#Supplier').val() == "") {
            alert('Please Enter SupplierName...')
            $('#Supplier').focus();
            return false;
        }
        else if ($('#DeliveryChallan').val() == '' || $('#DeliveryChallan').val() == "") {
            alert('Please Enter DeliveryChallan Number...')
            $('#DeliveryChallan').focus();
            return false;
        }
        else if ($('#Deliverydate').val() == '' || $('#Deliverydate').val() == "") {
            alert('Please Enter Deliverydate...')
            $('#Deliverydate').focus();
            return false;
        }
        else if ($('#PurchaseOrder').val() == '' || $('#PurchaseOrder').val() == "") {
            alert('Please Enter PurchaseOrder Number...')
            $('#PurchaseOrder').focus();
            return false;
        } 
        else if ($('#PurchaseOrderDate').val() == '' || $('#PurchaseOrderDate').val() == "") {
            alert('Please Enter PurchaseOrder Date...')
            $('#PurchaseOrderDate').focus();
            return false;
        } 
        else if ($('.sel #ItemName').val() == '' || $('.sel #ItemName').val() == "") {
            alert('Please Enter ItemName...')
            $('.sel #ItemName').focus();
            return false;
        } 
        else if ($('.sel #PurchaseOrderRate').val() == '' || $('.sel #PurchaseOrderRate').val() == "") {
            alert('Please Enter PurchaseOrderRate...')
            $('.sel #PurchaseOrderRate').focus();
            return false;
        }
        else if ($('.sel #PurchaseOrderQty').val() == '' || $('.sel #PurchaseOrderQty').val() == "") {
            alert('Please Enter PurchaseOrderQty...')
            $('.sel #PurchaseOrderQty').focus();
            return false;
        }
        else if ($('.sel #MRP').val() == '' || $('.sel #MRP').val() == "") {
            alert('Please Enter MRP...')
            $('.sel #MRP').focus();
            return false;
        } 
        else if ($('.sel #TaxAmount').val() == '' || $('.sel #TaxAmount').val() == "") {
            alert('Please Enter TaxAmount...')
            $('.sel #TaxAmount').focus();
            return false;
        }
        else if ($('.sel #TaxPercentage').val() == '' || $('.sel #TaxPercentage').val() == "") {
            alert('Please Enter TaxPercentage...')
            $('.sel #TaxPercentage').focus();
            return false;
        }
        else if ($('.sel #ItemName').val() == '' || $('.sel #ItemName').val() == "") {
            alert('Please Enter ItemName...')
            $('.sel #ItemName').focus();
            return false;
        }
        else if ($('.sel #DiscountAmount').val() == '' || $('.sel #DiscountAmount').val() == "") {
            alert('Please Enter DiscountAmount...')
            $('.sel #DiscountAmount').focus();
            return false;
        }
        else if ($('.sel #DiscountPercentage').val() == '' || $('.sel #DiscountPercentage').val() == "") {
            alert('Please Enter DiscountPercentage...')
            $('.sel #DiscountPercentage').focus();
            return false;
        } 
        else if ($('.sel #RejectedQty').val() == '' || $('.sel #RejectedQty').val() == "") {
            alert('Please Enter RejectedQty...')
            $('.sel #RejectedQty').focus();
            return false;
        } 
        else if ($('#TotalAmount').val() == '' || $('#TotalAmount').val() == "") {
            alert('Please Enter TotalAmount...')
            $('#TotalAmount').focus();
            return false;
        } 
        else if ($('#TotalTax').val() == '' || $('#TotalTax').val() == "") {
            alert('Please Enter TotalTax...')
            $('#TotalTax').focus();
            return false;
        } 
        else if ($('#TotalDiscount').val() == '' || $('#TotalDiscount').val() == "") {
            alert('Please Enter TotalDiscount...')
            $('#TotalDiscount').focus();
            return false;
        } 
        else if ($('#NetAmount').val() == '' || $('#NetAmount').val() == "") {
            alert('Please Enter NetAmount...')
            $('#NetAmount').focus();
            return false;
        }        
        else {
            SubmitStock();
            return true;

        }

    })
    function SubmitStock() {
        var StockInwards = {};
        StockInwards.GrnNo = $('#GrnNo').val();
        StockInwards.GrnDate = $('#GrnDate').val();
        StockInwards.Supplier = $('#Supplier').val();
        StockInwards.Deliverydate = $('#Deliverydate').val();
        StockInwards.DeliveryChallan = $('#DeliveryChallan').val();
        StockInwards.PurchaseOrder = $('#PurchaseOrder').val();
        StockInwards.PurchaseOrderDate = $('#PurchaseOrderDate').val();
        StockInwards.TotalAmount = $('#TotalAmount').val();
        StockInwards.TotalTax = $('#TotalTax').val();
        StockInwards.TotalDiscount = $('#TotalDiscount').val();
        StockInwards.NetAmount = $('#NetAmount').val();
        //debugger;
        var arrData = {};
        var StockInwardSub = {};
        $('#Table1 tr').each(function (i) {            
            StockInwardSub.LiquorName = "Sample";
            //if (StockInwardSub.LiquorName != undefined) {
            //    arrData.push(StockInwardSub);
            //}
        });
        //debugger;
        var model = 
            {
                "stockInward": StockInwards,
                "stockInwardSub": StockInwardSub
            };
            //debugger;
        $.ajax({

            url: "@Url.Content("~/StockInwardDetails/AddStockInward")",
            type: "post",
            cache: false,
            data: model,
            datatype: 'json',
            success: function (data) {
            },
        });
    }

    $(document).on('keyup', "#Table1 input[id='DiscountPercentage']", function () {
          var x = 0; var y = 0; var z = 0; var w = 0; var temp = 0;
          var z1 = 0, y1 = 0, x1 = 0, w1 = 0;

          var currentRow = $(this).closest("tr");
         x= parseFloat(currentRow.find("#PurchaseOrderRate").val());
          y= parseFloat(currentRow.find("#PurchaseOrderQty").val());
          z = parseFloat(currentRow.find("#DiscountPercentage").val());
          x1 = parseFloat(currentRow.find("#RejectedQty").val());
           w = (x * (y - x1) * z) / 100;
           currentRow.find("#DiscountAmount").val(w);          
      });

    $(document).on('keyup', "#Table1 tbody #TaxPercentage", function () {
        //debugger;
        var a = 0; var b = 0; var c = 0; var d = 0; var e = 0;
        var f = 0;
        var x = 0; var y = 0; var z = 0; var w = 0;
        var temp = 0,temp1=0;
        var z1 = 0, y1 = 0, x1 = 0, w1 = 0;
        var currentRow = $(this).closest("tr");
        a = parseFloat(currentRow.find("#PurchaseOrderRate").val());
        b = parseFloat(currentRow.find("#PurchaseOrderQty").val());
        c = parseFloat(currentRow.find("#DiscountAmount").val());
        d = parseFloat(currentRow.find("#RejectedQty").val());
        e = parseFloat(currentRow.find("#TaxPercentage").val());
        f = ((a * (b - d) - c)* e ) / 100;
        currentRow.find("#TaxAmount").val(f);

        $("#Table1 tbody tr").each(function () {
            cRow = $(this).closest("tr");
            if (x != null || x != "" && !(isNaN(a))) {
                x = parseFloat(cRow.find("#PurchaseOrderRate").val());
                y = parseFloat(cRow.find("#PurchaseOrderQty").val());
                y1 = parseFloat(cRow.find("#RejectedQty").val());
                if (!(isNaN(x)) && !(isNaN(x))) {
                    z = parseFloat(z) + parseFloat(x * (y-y1));
                }
            }     
            $("#TotalAmount").val(z);
            //debugger;
            if (w1 != null || w1 != "" && !(isNaN(w1))) {
                w1 = parseFloat(cRow.find("#TaxAmount").val());
                if (!(isNaN(w1))) {
                    temp = parseFloat(temp) + w1;
                }
            }        
            $("#TotalTax").val(temp);           
          
            if (x1 != null || x1 != "" && !(isNaN(x1))) {
                x1 = parseFloat(cRow.find("#DiscountAmount").val());
                if (!(isNaN(x1))) {
                    temp1 = parseFloat(temp1) + x1;
                }
            }
            $("#TotalDiscount").val(temp1);

            $("#NetAmount").val(parseFloat($("#TotalAmount").val()) + parseFloat($("#TotalTax").val()) - parseFloat($("#TotalDiscount").val()));
        })
    });
</script>