@using NTCY.Models.Foods;
@{
    ViewBag.Title = "CreateFood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 label-area">
        @ViewBag.message
        @ViewBag.innerEx
    </div>
    <div class="container-fluid">
        @using (Html.BeginForm("UpdateFood", "Food", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">Food</h3>
                                @Html.Hidden("FoodId", ViewData["FoodId"], new { @maxlength = "15", @class = "form-control", @id = "FoodId" })
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lFoodCode">FoodCode</label>
                                            @Html.TextBox("FoodCode", ViewData["FoodCode"], new { @maxlength = "12", @class="form-control", @id = "FoodCode" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lFoodName">FoodName</label>
                                            @Html.TextBox("FoodName", ViewData["FoodName"], new { @maxlength = "12", @class="form-control", @id = "FoodName" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lCategory">Category</label>
                                            @*@Html.TextBox("Category", ViewData["Category"], new { @maxlength = "15", @class = "form-control", @id = "Category" })*@
                                            @Html.DropDownList("Category", new List<SelectListItem>
                                            {
                                                    new SelectListItem { Text="Veg", Value="Veg"},
                                                    new SelectListItem { Text="Non-Veg", Value="Non-Veg"},
                                                    new SelectListItem { Text="Juice", Value="Juice"}
                                            }, "Select Category", new { @class = "form-control", @id = "Category" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lFoodDescription">FoodDescription</label>
                                            @Html.TextBox("FoodDescription", ViewData["FoodDescription"], new { @maxlength = "12", @class="form-control", @id = "FoodDescription" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">                                    
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lQuantity">Quantity</label>
                                            @Html.TextBox("Quantity", ViewData["Quantity"], new { @maxlength = "12", @class="form-control", @id = "Quantity" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lPrice">Price</label>
                                            @Html.TextBox("Price", ViewData["Price"], new { @maxlength = "15", @class = "form-control", @id = "Price" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lGST">GST</label>
                                            @Html.TextBox("GST", ViewData["GST"], new { @maxlength = "12", @class="form-control", @id = "GST" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lStatus">Status</label>
                                            @*@Html.TextBox("Status", ViewData["Status"], new { @maxlength = "12", @class="form-control", @id = "Status" })*@
                                            @Html.DropDownList("Status", new List<SelectListItem> 
                                            {
                                                new SelectListItem { Text="Available", Value="Yes"},
                                                new SelectListItem { Text="Not Available", Value="No"}
                                            }, "Select Status", new { @class = "form-control", @id = "Status" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" value="@ViewBag.submit" class="btn btn-primary1" id="Btn_Submit" data-toggle="tooltip" title="Save"><span class="fas fa-save"> </span></button>
                    <a href="@Url.Action("ViewFood", "Food")" class="btn btn-primary1" data-toggle="tooltip" data-placement="bottom" title="View Member">
                        <span class="fa-solid fa-users" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        }
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>